<style>
  .bg-unique {
    background-color: #3f51b5 !important;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-unique">
  <a class="navbar-brand" href="#">Order Management System</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <span class="navbar-text"> </span>
  </div>
  <ul class="navbar-nav ml-auto nav-flex-icons">
    <li class="nav-item">
      <a class="nav-link waves-effect waves-light" href="/resource"
        ><i class="fas fa-cog"></i
      ></a>
    </li>
    <li class="nav-item">
      <a href="/cart" class="nav-link waves-effect waves-light"
        ><i class="fas fa-shopping-cart"></i
        ><span class="badge badge-light">4</span></a
      >
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        id="navbarDropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        ><i class="fa fa-user"></i>
      </a>
      <div
        class="dropdown-menu dropdown-menu-right dropdown-unique"
        aria-labelledby="navbarDropdownMenuLink"
      >
        <a class="dropdown-item" href="/profile">Profile</a>
        <a class="dropdown-item" href="/product/viewlater">Wish List</a>
        <a class="dropdown-item" href="/logout">Log out</a>
      </div>
    </li>
  </ul>
  <form action="/logout" method="GET">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">
      Log out
    </button>
  </form>
</nav>
