<nav
  class="navbar sticky-top navbar-expand-lg flex-md-nowrap p-0 navbar-dark bg-dark"
>
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/dashboard"
    >Revenant Dawn</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent-3"
    aria-controls="navbarSupportedContent-3"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-3">
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="/resource"
          ><i class="fas fa-cog"></i
        ></a>
      </li>
      <li class="nav-item">
        <a href="/cart" class="nav-link waves-effect waves-light"
          ><i class="fas fa-shopping-cart"></i>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          ><i class="fa fa-user"></i>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right dropdown-unique"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" href="/profile">Profile</a>
          <a class="dropdown-item" href="/product/viewlater">Wish List</a>
          <a class="dropdown-item" href="/logout">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
