<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
  </head>

  <style>
    .row {
      min-height: 100vh;
    }
    .fab,
    .fas,
    .fa {
      padding: 0 3px;
    }
    main {
      background-color: #f6faef;
    }
  </style>
  <body>
    <div class="container-fluid">
      <div class="row flex-column flex-md-row">
        <aside class="col-12 col-md-2 p-0 bg-dark flex-shrink-1">
          <nav
            class="navbar navbar-expand navbar-dark bg-dark align-items-start py-2"
          >
            <div class="collapse navbar-collapse">
              <ul
                class="flex-md-column flex-row navbar-nav w-100 justify-content-between"
              >
                <div id="no-accordion">
                  <ul class="nav nav-item flex-column">
                    <li class="active">
                      <a href="/dashboard" class="nav-link pl-0 text-nowrap"
                        ><i class="fab fa-dashcube"></i>Dashboard</a
                      >
                    </li>
                  </ul>
                </div>
                <div id="no-accordion">
                  <ul class="nav nav-item flex-column">
                    <li class="active">
                      <a href="/inventory" class="nav-link pl-0 text-nowrap"
                        ><i class="fas fa-warehouse"></i>Inventory</a
                      >
                    </li>
                  </ul>
                </div>

                <div id="accordion" class="panel-group">
                  <div class="panel">
                    <div class="panel-heading">
                      <li class="active">
                        <a
                          href="#panelBodyTwo"
                          class="accordion-toggle nav-link pl-0 text-nowrap"
                          data-toggle="collapse"
                          data-parent="#accordion"
                          ><i class="fab fa-salesforce"></i>Orders</a
                        >
                      </li>
                    </div>
                    <div id="panelBodyTwo" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <ul class="nav nav-item flex-column">
                          <li>
                            <a
                              href="/orders/vieworder"
                              class="nav-link pl-0 text-nowrap"
                            >
                              View Order</a
                            >
                          </li>

                          <li>
                            <a
                              href="/orders/addorder"
                              class="nav-link pl-0 text-nowrap"
                            >
                              Add Order</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="accordion" class="panel-group">
                  <div class="panel">
                    <div class="panel-heading">
                      <li class="active">
                        <a
                          href="#panelBodyThree"
                          class="accordion-toggle nav-link pl-0 text-nowrap"
                          data-toggle="collapse"
                          data-parent="#accordion"
                          ><i class="fas fa-users"></i>Customers</a
                        >
                      </li>
                    </div>
                    <div id="panelBodyThree" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <ul class="nav nav-item flex-column">
                          <li>
                            <a
                              href="/customer/viewCustomers"
                              class="nav-link pl-0 text-nowrap"
                            >
                              View Customers</a
                            >
                          </li>

                          <li>
                            <a
                              href="/customer/addCustomers"
                              class="nav-link pl-0 text-nowrap"
                            >
                              Add Customers</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="no-accordion">
                  <ul class="nav nav-item flex-column">
                    <li class="active">
                      <a href="/ecommerce" class="nav-link pl-0 text-nowrap"
                        ><i class="fas fa-shopping-cart"></i>Ecommerce</a
                      >
                    </li>
                  </ul>
                </div>
                <div id="no-accordion">
                  <ul class="nav nav-item flex-column">
                    <li>
                      <a href="/payment" class="nav-link pl-0 text-nowrap"
                        ><i class="fas fa-chart-pie"></i>Payment</a
                      >
                    </li>
                  </ul>
                </div>
              </ul>
            </div>
          </nav>
        </aside>
        <main class="col p-0 bg-faded flex-grow-1 w-100">
          <%- include("../partials/navbar") %> <%- body %>
        </main>
      </div>
      <div class="feedbackform">
        <button id="feedbackBTN">
          <i class="fa fa-envelope" aria-hidden="true"></i> SEND US FEEDBACK
        </button>
      </div>
      <div class="social-container">
        <form>
          <legend class="text-center">Send feedback</legend>
          <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight">
              <input type="text" class="text w-100" style="height: 100px;" />
            </div>
            <div class="p-2 bd-highlight">
              <button type="submit" class="w-100">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="/static/js/script.js"></script>
  </body>
</html>
