<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://img.icons8.com/cute-clipart/64/000000/purchase-order.png"
      type="image/png"
    />

    <title>Registration</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
      <a class="navbar-brand" href="/">
        <img
          src="/static/images/logo.png"
          style="background-color: white; border-radius: 50%;"
          width="30"
          height="30"
          alt="logo"
        />
        Order Management System
      </a>
    </nav>
    <div class="body-container">
      <%- body %>
    </div>
  </body>
</html>
