<style>
  .charts {
    margin-top: 25px;
    color: #bbb;
  }
  .charts .chart-container {
    background-color: #313348;
    padding: 15px;
  }
  .charts .chart-container h3 {
    margin: 0 0 10px;
    font-size: 17px;
  }
</style>
<div class="container">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">
          Share
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary">
          Export
        </button>
      </div>
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary dropdown-toggle"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-calendar"
        >
          <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
          <line x1="16" y1="2" x2="16" y2="6"></line>
          <line x1="8" y1="2" x2="8" y2="6"></line>
          <line x1="3" y1="10" x2="21" y2="10"></line>
        </svg>
        This week
      </button>
    </div>
  </div>
  <section class="charts">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="chart-container">
            <h3>Bar Chart</h3>
            <canvas id="first-grid"></canvas>
          </div>
        </div>
        <div class="col-md-6">
          <div class="chart-container">
            <h3>Line Chart</h3>
            <canvas id="second-grid"></canvas>
          </div>
        </div>
        <div class="col-md-6">
          <div class="chart-container">
            <h3>Notification panel</h3>
            <div class="alert alert-success" role="alert">
              One order has been created
            </div>
            <div class="alert alert-success" role="alert">
              Delivery for Chandelier is completed
            </div>
            <div class="alert alert-success" role="alert">
              Added one customer.
            </div>
            <div class="alert alert-success" role="alert">
              Inventory Updated
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

<script>
  let mychart = document.getElementById("first-grid").getContext("2d");
  let mybarchart = new Chart(mychart, {
    type: "bar",
    data: {
      labels: ["Bulbs", "Chandelier", "Led Lights", "Solar Light"],
      datasets: [
        {
          label: "Sales",
          barPercentage: 0.5,
          barThickness: 6,
          maxBarThickness: 8,
          minBarLength: 2,
          labels: "Price",
          data: [100, 20, 12, 12, 43, 12, 60],
          backgroundColor: [
            "rgba(255,99,132,0.6)",
            "rgba(255,99,132,0.6)",
            "rgba(255,99,132,0.6)",
            "rgba(255,99,132,0.6)",
          ],
        },
      ],
    },
    options: {},
  });

  let mysecondchart = document.getElementById("second-grid").getContext("2d");
  let mylinechart = new Chart(mysecondchart, {
    type: "line",
    data: {
      labels: ["Bulbs", "Chandelier", "Led Lights", "Solar Light"],
      datasets: [
        {
          label: "Lights",
          barPercentage: 0.5,
          barThickness: 6,
          maxBarThickness: 8,
          minBarLength: 2,
          labels: "Price",
          data: [100, 20, 12, 12, 43, 12, 60],
          backgroundColor: [
            "rgba(255,99,132,0.6)",
            "rgba(255,99,132,0.6)",
            "rgba(255,99,132,0.6)",
            "rgba(255,99,132,0.6)",
          ],
        },
      ],
    },
    options: {},
  });
</script>
