<div class="container">
  <div class="welcome mb-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <h2>Welcome to Dashboard</h2>
            <p>
              Manage your dashboard with one touch
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-list">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card blue">
          <div class="title">Products</div>
          <i class="zmdi zmdi-upload"></i>
          <div class="value">89</div>
          <div class="stat"><b>13</b>% increase</div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card green">
          <div class="title">Customer</div>
          <i class="zmdi zmdi-upload"></i>
          <div class="value">5,990</div>
          <div class="stat"><b>4</b>% increase</div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card orange">
          <div class="title">Budget</div>
          <i class="zmdi zmdi-download"></i>
          <div class="value">$80,990</div>
          <div class="stat"><b>13</b>% decrease</div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card red">
          <div class="title">Inventory</div>
          <i class="zmdi zmdi-download"></i>
          <div class="value">3</div>
          <div class="stat"><b>13</b>% decrease</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <canvas id="first-grid"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <canvas id="second-grid"></canvas>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <h3>Notification panel</h3>
      <div class="card">
        <div class="card-body">
          <%if(notifications) {%> <% notifications.forEach(notification=> {%>
          <div class="alert alert-success" role="alert">
            <%= notification.eventType %> <%= notification.eventName %> on <%
            let date = new Date (notification.logged); %> <%=
            date.getFullYear()+'-'+(date.getMonth()+1)+'-'+date.getDate(); %>
          </div>
          <% })}; %>
        </div>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

  <script>
    let mychart = document.getElementById("first-grid").getContext("2d");
    let mybarchart = new Chart(mychart, {
      type: "bar",
      data: {
        labels: ["Bulbs", "Chandelier", "Led Lights", "Solar Light"],
        datasets: [
          {
            label: "Sales",
            barPercentage: 0.5,
            barThickness: 6,
            maxBarThickness: 8,
            minBarLength: 2,
            labels: "Price",
            data: [100, 20, 12, 12, 43, 12, 60],
            backgroundColor: [
              "rgba(255,99,132,0.6)",
              "rgba(255,99,132,0.6)",
              "rgba(255,99,132,0.6)",
              "rgba(255,99,132,0.6)",
            ],
          },
        ],
      },
      options: {},
    });

    let mysecondchart = document.getElementById("second-grid").getContext("2d");
    let mylinechart = new Chart(mysecondchart, {
      type: "line",
      data: {
        labels: ["Bulbs", "Chandelier", "Led Lights", "Solar Light"],
        datasets: [
          {
            label: "Lights",
            barPercentage: 0.5,
            barThickness: 6,
            maxBarThickness: 8,
            minBarLength: 2,
            labels: "Price",
            data: [100, 20, 12, 12, 43, 12, 60],
            backgroundColor: [
              "rgba(255,99,132,0.6)",
              "rgba(255,99,132,0.6)",
              "rgba(255,99,132,0.6)",
              "rgba(255,99,132,0.6)",
            ],
          },
        ],
      },
      options: {},
    });
  </script>
</div>
