<div class="card-body">
  <h3>Notification panel</h3>
  <%if(notifications) {%> <% notifications.forEach(notification=> {%>
  <div class="alert alert-success" role="alert">
    <%= notification.eventType %> <%= notification.eventName %> on <% let date =
    new Date (notification.logged); %> <%=
    date.getFullYear()+'-'+(date.getMonth()+1)+'-'+date.getDate(); %>
  </div>
  <% })}; %>
</div>
