<div class="container">
  <h1>Supplier Store</h1>
  <nav class="d-flex justify-content-md-around">
    <div class="nav-links">
      <a class="nav-link" style="color: black;" href="#">Browse by Type</a>
    </div>
    <div class="nav-links">
      <a class="nav-link" style="color: black;" href="#">Browse By Style</a>
    </div>
    <div class="nav-links">
      <a class="nav-link" style="color: black;" href="#">Browse by Room</a>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <a class="col-md-4" href="/ecommerce/Pendant Lights">
          <div class="card mb-4 shadow-sm">
            <img
              src="https://www.lightosphere.com.au/image/cache/Pendant%20Lights-228x228.png"
              class="card-img-top"
              style="height: 228px; width: 100%; display: block;"
            />
            <div class="card-body">
              <p class="card-text">
                Pendant Lights
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xs-12 col-sm-4">
        <a class="col-md-4" href="/ecommerce/Cluster Lights">
          <div class="card mb-4 shadow-sm">
            <img
              src="https://www.lightosphere.com.au/image/cache/Cluster Light-228x228.png"
              class="card-img-top"
              style="height: 228px; width: 100%; display: block;"
            />
            <div class="card-body">
              <p class="card-text">Cluster Lights</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xs-12 col-sm-4">
        <a class="col-md-4" href="/ecommerce/Chandeliers">
          <div class="card mb-4 shadow-sm">
            <img
              src="https://www.lightosphere.com.au/image/cache/Chandeliers-228x228.jpg"
              class="card-img-top"
              style="height: 228px; width: 100%; display: block;"
            />
            <div class="card-body">
              <p class="card-text">
                Chandeliers
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xs-12 col-sm-4">
        <a class="col-md-4" href="/ecommerce/Close-To-Ceiling-Lights">
          <div class="card mb-4 shadow-sm">
            <img
              src="https://www.lightosphere.com.au/image/cache/Close-to-ceiling Lights-228x228.jpg"
              class="card-img-top"
              style="height: 228px; width: 100%; display: block;"
            />
            <div class="card-body">
              <p class="card-text">
                Close to Ceiling Lights
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a class="col-md-4" href="/ecommerce/Hanging Lights">
          <div class="card mb-4 shadow-sm">
            <img
              src="https://www.lightosphere.com.au/image/cache/Hanging Lights-228x228.png"
              class="card-img-top"
              style="height: 228px; width: 100%; display: block;"
            />
            <div class="card-body">
              <p class="card-text">
                Hanging Lights
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a class="col-md-4" href="/ecommerce/Wall & Desk Lamps">
          <div class="card mb-4 shadow-sm">
            <img
              src="https://www.lightosphere.com.au/image/cache/Wall and desk lamps-228x228.jpg"
              class="card-img-top"
              style="height: 228px; width: 100%; display: block;"
            />
            <div class="card-body">
              <p class="card-text">
                Wall and Desk Lamps
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
