<div class="container mt-5 overflow-hidden">
  <h2>User Profile</h2>
  <table class="table table-hover table-sm table-properties">
    <tr>
      <th>Name</th>
      <td><%= user.name %></td>
    </tr>

    <tr>
      <th>User Type</th>
      <td><%= user.type %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= user.email %></td>
    </tr>
    <tr>
      <th>Phone number</th>
      <td></td>
    </tr>
  </table>
</div>
