<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/stylesheets/registration.css"
    />
  </head>
  <body>
    <div class="main-container">
      <div class="tab-container">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#login"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#signup">Sign up</a>
          </li>
        </ul>
      </div>
      <div class="registration-container">
        <% if(loginerror.length>0) {%>
        <div class="alert alert-danger"><%=loginerror[0]%></div>
        <% } %>
        <div class="tab-content">
          <!-- Login form -->
          <div id="login" class="tab-pane active">
            <form method="POST" action="/registration/login">
              <legend>Login</legend>
              <div class="form-group">
                <label for="login-username">Username</label>
                <input
                  type="text"
                  name="username"
                  class="form-control login-content"
                  id="login-username"
                  required
                />
              </div>
              <div class="form-group">
                <label for="login-password">Password</label>
                <input
                  type="password"
                  name="password"
                  class="form-control login-content"
                  id="login-password"
                  required
                />
              </div>

              <div class="login-button">
                <button type="submit" class="btn btn-success">Login</button>
              </div>
              <br />
            </form>
            <div style="width: 100%; text-align: center;">
              <a href="/registration/resetPassword">Forgot your password?</a>
            </div>
          </div>

          <!-- sign up form -->

          <div id="signup" class="tab-pane fade in">
            <form method="POST" action="/registration/signup">
              <% if(validation.length>0) {%>
              <span class="alert-danger"><%=validation[0].msg%></span>
              <% } %> <% if(signuperror.length>0) {%>
              <span class="alert-danger"><%=signuperror[0]%></span>
              <% } %>
              <legend>Sign up</legend>
              <div class="form-group">
                <label for="signup-email">Email </label>
                <input
                  type="email"
                  class="form-control login-content"
                  id="signup-email"
                  name="email"
                  required
                />
              </div>
              <div class="form-group">
                <label for="signup-username">Username</label>
                <input
                  type="text"
                  class="form-control login-content"
                  id="signup-username"
                  name="username"
                />
              </div>

              <div class="form-group">
                <label for="signup-password">Password</label>
                <input
                  type="password"
                  class="form-control login-content"
                  id="signup-password"
                  name="password"
                />
              </div>

              <div class="login-button">
                <button type="submit" class="btn btn-success">Sign up</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="/static/js/script.js"></script>
  </body>
</html>
